.container {
  align-self: flex-start;
  margin: 20px;
  padding: 12px;
  border-style: solid;
  border-width: 0.5px;
  border-radius: 6px;
  border-color: darkgray;
  background-color: whitesmoke;
}

.edit:hover {
  text-decoration: underline;
  cursor: pointer;
}

#milestone-list {
  margin: 20px;
  padding: 5px;
}

input {
  margin-bottom: 5px;
}

#edit-name {
  width: 100%;
  border-style: solid;
  border-width: 0.5px;
  border-radius: 6px;
  border-color: darkgray;
}

#edit-desc {
  width: 100%;
  height: 80px;
  border-style: solid;
  border-width: 0.5px;
  border-radius: 6px;
  border-color: darkgray;
}


#edit-owner, #edit-country, #edit-region {
  margin-bottom: 5px;
}

hr {
  border-top: 0.5px solid darkgray;
}

select {
  border-style: solid;
  border-width: 0.5px;
  border-radius: 6px;
  border-color: darkgray;
}

.input-field {
  border-style: solid;
  border-width: 0.5px;
  border-radius: 6px;
  border-color: darkgray;
  width: 160px;
}

.input-desc {
  border-style: solid;
  border-width: 0.5px;
  border-radius: 6px;
  border-color: darkgray;
  width: 100%;
}

.trash:hover {
  cursor: pointer;
  color: crimson;
}