{% extends "workably/layout.html" %}

{% block body %}

<h2>Request new password</h2>

<form method="POST">
  {% csrf_token %}
  <div class="form-group">
    <input autofocus class="form-control" type="email" name="email" placeholder="Your Email">
  </div>
  <div class="form-group">
    <button class="btn btn-outline-info" type=submit>Request Password</button>
  </div>
</form>

Don't have an account? <a href="{% url 'request_account' %}">Request one from a Program Admin here.</a>

{% endblock %}