{% extends "workably/layout.html" %}

{% block body %}

<h2>Request new password</h2>

{% if message %}
<div>{{ message }}</div>
{% endif %}

<div id='forgot-pw'>
  <form id="forgot-pw-form">
    {% csrf_token %}
    <div class="form-group">
      <input autofocus class="form-control" type="email" name="email" placeholder="Your Email">
    </div>
    <input id="submit-pw-request" class="btn btn-primary" type="submit" value="Send Request">
  </form>
</div>

Don't have an account? <a href="{% url 'request_account' %}">Request one from a Program Admin here.</a>

{% endblock %}